
body {
  background-image: url("/static/images/sharks.gif");
  background-size: cover;
  text-decoration: none;
  text-align: center;
  background:lightblue;
   
}



.largeContainer{
    margin: 0 auto;
    width:1705px;
    border-radius:20px;
    border: thin solid;
    border-color: black;
}



.graphContA{
    position:relative;
    display:inline-block;
    position:relative;
    height:600px;
    width:1670px;
    margin-left:20px;
    margin-top:20px;
    padding-top: 20px;
    padding-top: 20px;
    background-color:rgba(255,255,255,0.5);
    border-radius:10px;
}

.graphContB{
    position:absolute;
    top:0;
    height:380px;
    width:550px;
    margin-left:0px;
    margin-top:0px;
    padding-left: 50px;
    padding-top: 20px;
    background-color:rgba(255,255,255,0.5);
    border-radius:10px;
    
}

.graphContC{
    position:absolute;
    top:0px;
    height:360px;
    left:0px;
    margin-left:630px;
    width:1000px;
    padding:20px;
    background-color:rgba(255,255,255,0.5);
    border-radius:10px;
}

.row1{
margin-left:auto;
margin-right:auto;
width:1670;
height:1000px;
}

.row2{
    position:relative;
    top:600px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 50px;
    border-radius-bottom:10px;
    border-radius-top: 10px;
    min-height: 360px;
    background-image: url("");
    padding-bottom: 50px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



rect {
  transform: rotate(45deg) rotate(-45deg);
  transform-origin: 50% 50%; /* Chrome, Firefox behaves differently */
}





