	g .x.axis text {
    text-anchor: end !important; 
    transform: rotate(-45deg);
    font-size:0.5em;
}

a{
    text-decoration:none;
    color: white;
}

.majortTitle:{
  font-size: 1em;
}

.sharkHead{
    position: fixed;
    z-index:1;
    top:0px;
    width:166%;
    margin-left: -33%;
    margin-right: -33%;
    margin-bottom: 30px;
    height:30px;
    background-color:black;
    color:gold;
    font-family: sans-serif;
    font-size:0.8em;
    letter-spacing: 30pt;
    padding-top: 20px;
}

.sharkBody{
   position:absolute;
   width:600%; 
   height:200px;
   width:100%;
   margin: 0 auto ;
}

.majorTitle{
    font-family: sans-serif;
    font-size:1.2em;
    letter-spacing:3pt;
}

body {
  background-image: url("http://www.gowild-advertising.nl/data-vis/static/images/sharks.gif");
  background-size: cover;
  text-decoration: none;
  text-align: center;
}

    p{
    font-size:0.8em;
    font-family: sans-serif;
    margin-left:15%;
    margin-right:15%;
    letter-spacing:0.5pt;

    }

.resetBtn{  position:relative;
    width:40px;
    height:40px;
    margin:  auto;
    border-radius:50%;
    border: 2pt solid #2077b4;
    background-color:#9ac2cd ;
    font-family: sans-serif ;
    font-weight: bold;
    font-size:0.5em;
    letter-spacing: 3px;
    color: #2077b4;
    line-height: 40px;
    text-decoration: none;
    padding:5px;
    text-align: center;
}

.leftabit{
    position:relative;
    display:inline-block;
    width:70px;
    padding-right:50px;
    background-color: red;
    margin:0, auto;
}

.chartA{
    position:relative;
    display:inline-block;
    top:0px;
    height:420px;
    width:1024px;
    margin-left:0px;
    margin-top:70px;
    margin-bottom: 30px;
    padding-top:20px;
    background-color:rgba(255,255,255,0.5);
    border-radius:10px;
}

.chartB{
    position:relative;
    top:-20px;
    height:300px;
    width:475px;
    margin-left:0px;
    margin-top:0px;
    padding: 10px;
    background-color:rgba(255,255,255,0.5);
    border-radius:10px;
}

.chartC{
    position:relative;
    top:-340px;
    height:300px;
    margin-left:510px;
    width:495px;
    padding:10px;
    background-color:rgba(255,255,255,0.5);
    border-radius:10px;
}
    .row2{
    top:200px;
    width:1024px;
    margin-left:auto;
    margin-right:auto;
    border-radius-bottom:10px;
    border-radius-top: 10px;
    height: 360px;
    padding-bottom: 50px;
}

.subTitle{
  font-family: sans-serif;
  font-size: 1em;
  color:black;
}

#shark-attacks-chart-country{
    z-index:2;
    margin-top: 20px; 
    magin-left:30px
}

#pie-chart{
    z-index:3;
    margin-top: 20px;
    width:240px;
}

#shark-attacks-chart-region{
    z-index:5;
    position:absolute;
    margin-top: 30px;
}

.topThree{
    position:absolute;
    top:85px;
    margin-left: 240px;
    text-align: left;
    font-family: sans-serif;
    font-size: 0.4em;
    line-height:1.3em;
    padding-right:20px;
}

.instructions{
    z-index:5;
    position:absolute;
    top:85px;
    margin-left: 65px;
    font-family: sans-serif;
    font-size: 0.7em; 
    line-height:1.3em;
    text-align: center;
    width:200px;
    letter-spacing:0.3pt;
    color: black;
}
.zoomin{
    position: relative;
    top:60px;
    font-size:1em;
    color:white;
    font-family: sans-serif;
    background-color:black;
    width:1024px;
    margin: auto;
}





