	g .x.axis text {
    text-anchor: end !important; 
    transform: rotate(-45deg);
}

a{
    text-decoration:none;
    color: white;
}

.majortTitle:{
  font-size: 1em;
}

.sharkHead{
    position: fixed;
    z-index:1;
    top:0px;
    width:166%;
    margin-left: -33%;
    margin-right: -33%;
    margin-bottom: 30px;
    height:50px;
    background-color:black;
    color:gold;
    font-family: sans-serif;
    font-size:1em;
    letter-spacing: 30pt;
    padding-top: 30px;
}

.sharkBody{
   position:absolute;
   width:400%; 
   height:200px;
   width:100%;
   margin:0 auto;
}

.majorTitle{
    font-family: sans-serif;
    font-size:2em;
    letter-spacing:4pt;
}

body {
  background-image: url("http://www.gowild-advertising.nl/data-vis/static/images/sharks.gif");
  background-size: cover;
  text-decoration: none;
  text-align: center;
}

p{
    font-size:1em;
    font-family: sans-serif;
    margin-left:30%;
    margin-right:30%;
    letter-spacing:2pt;
    }

.resetBtn{  position:relative;
    width:40px;
    height:40px;
    margin:  auto;
    border-radius:50%;
    border: 2pt solid #2077b4;
    background-color:#9ac2cd ;
    font-family: sans-serif ;
    font-weight: bold;
    font-size:0.5em;
    letter-spacing: 3px;
    color: #2077b4;
    line-height: 40px;
    text-decoration: none;
    padding:5px;
    text-align: center;
}


.chartA{
    position:relative;
    display:inline-block;
    top:20px;
    padding-top:20px;
    height:600px;
    width:1660px;
    margin-left:0px;
    margin-top:70px;
    margin-bottom: 30px;
    background-color:rgba(255,255,255,0.5);
    border-radius:10px;
}

.chartB{
    position:relative;
    top:0px;
    height:360px;
    width:580px;
    margin-left:0px;
    margin-top:0px;
    padding: 20px;
    background-color:rgba(255,255,255,0.5);
    border-radius:10px;
}

.chartC{
    position:relative;
    top:-400px;
    height:360px;
    margin-left:640px;
    width:980px;
    padding:20px;
    background-color:rgba(255,255,255,0.5);
    border-radius:10px;
}

.row2{
    top:200px;
    width:1660px;
    margin-left:auto;
    margin-right:auto;
    border-radius-bottom:10px;
    border-radius-top: 10px;
    height: 360px;
    padding-bottom: 50px;
}

.subTitle{
  font-family: sans-serif;
  font-size: 1em;
  color:black;
}

#shark-attacks-chart-country{
    z-index:2;
    margin-top: 20px; 
}

#pie-chart{
    z-index:3;
    margin-top: 20px;
    margin-left: 7px;
}

#shark-attacks-chart-region{
    z-index:5;
    position:absolute;
    margin-top: 30px;
}

.topThree{
    position:absolute;
    top:85px;
    width:230px;
    margin-left: 330px;
    text-align: left;
    font-family: sans-serif;
    font-size: 0.5em;
    line-height:1.3em;
    padding-right:5px;
}

.instructions{
    z-index:2;
    position:absolute;
    top:85px;
    margin-left: 150px;
    font-family: sans-serif;
    font-size: 1em; 
    line-height:1.3em;
    text-align: center;
    width:300px;
    letter-spacing:1.3pt;
    color: black;
    padding-right: 15px;
}

.zoomin{
    position: relative;
    top:80px;
    font-size:1em;
    color:white;
    font-family: sans-serif;
    margin: auto;
    width:1660px;
    background-color:black;
}





